---
import Icon from "@/src/components/root/icon.astro"
import { iconPaths } from "@/src/components/root/iconPaths"

interface Props {
  icon: keyof typeof iconPaths
  title: string
  desc: string
  link: string
}

const { icon, title, desc, link } = Astro.props
---

<div
  class="rounded-lg bg-white p-6 text-center shadow-md transition-shadow duration-200 hover:shadow-lg dark:bg-neutral-700"
>
  <a
    href={link}
    title={title}
    aria-label={desc}
    class="mx-auto mb-4 flex h-16 w-16 items-center justify-center rounded-full"
  >
    <Icon icon={icon} size="13" class="text-cyan-600 dark:text-cyan-400" />
  </a>
  <h3 class="mb-2 text-lg font-semibold text-neutral-900 dark:text-neutral-100">
    {title}
  </h3>
  <p class="mb-4 text-sm text-neutral-600 dark:text-neutral-300">
    {desc}
  </p>
  <a
    href={link}
    title={title}
    aria-label={desc}
    class="font-semibold text-cyan-600 hover:text-cyan-700 dark:text-cyan-400 dark:hover:text-cyan-300"
  >
    詳しく見る
  </a>
</div>
